* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background: rgba(149, 157, 165, 0.2);
}

.container {
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  box-shadow: var(--box-shadow_mid);
  background: white;
  z-index: 999;
}
header button {
  padding: 10px 15px;
  background: var(--color-original_blue);
  color: white;
  font-weight: 600;
  border-radius: 20px;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner li {
  list-style: none;
  font-weight: 500;
}
.banner button {
  padding: 10px 15px;
  background: var(--color-original_blue);
  color: white;
  font-weight: 600;
  border-radius: 20px;
}
.banner img {
  width: 100%;
}

header nav {
  display: flex;
  gap: 1rem;
}
header nav .active a {
  color: var(--color-original_blue);
  padding: 10px 15px;
}

header nav li {
  font-family: var(--font-OpenSans);
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
}
header nav li:hover {
  background: rgba(0, 0, 0, 0.05);
}
header nav li:hover ul {
  display: block;
}
header nav li .dropdown {
  font-family: var(--font-Poppins);
  font-size: 14px;
  width: 200px;
  position: absolute;
  top: 100%;
  padding: 10px;
  left: -10%;
  background: rgb(255, 255, 255);
  box-shadow: var(--box-shadow_light);
  color: rgb(25, 25, 25);
  border-radius: 2px;
  display: none;
}
header nav li .dropdown li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all cubic-bezier(0.215, 0.61, 0.355, 1);
}
header nav li .dropdown li:hover {
  scale: 1.05;
}
header nav li .dropdown li:hover ul {
  display: block;
}
header nav li .dropdown li ul {
  width: 200px;
  box-shadow: var(--box-shadow_light);
  position: absolute;
  top: -10%;
  left: 105%;
  display: none;
  background: white;
}

header nav li a {
  text-decoration: none;
  color: black;
}

.banner {
  font-family: var(--font-OpenSans);
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.banner span {
  font-weight: 600;
}

.hero--container {
  background: white;
  padding-block: 1rem;
}

.hero--info {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  padding-inline: 2rem;
}

.hero--info h1 {
  font-family: sans-serif;
  font-size: clamp(3rem, 10vh, 8rem);
}

.hero--info p {
  font-family: var(--font-OpenSans);
  font-size: clamp(1rem, 3vh, 4rem);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.hero--img {
  width: 50%;
  display: flex;
  align-items: end;
}

.hero--cards {
  width: 50%;
  padding: 3rem;
  font-family: var(--font-OpenSans);
}
.hero--cards .hero--card {
  margin-block: 1rem;
  margin-inline: auto;
  max-width: 420px;
  background: white;
  padding: 1rem;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero--cards .hero--card .deign--box {
  padding: 10px;
  border-radius: 5px;
  background: var(--color-original_blue);
  color: white;
}
.hero--cards .hero--card .deign--box span {
  font-size: 20px;
}

.list--box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 10px;
  text-decoration: underline;
}

.download--btn {
  width: max(330px, 5rem);
  display: flex;
  background: var(--color-neon_black);
  padding: 1rem;
  border-radius: 30px;
  color: white;
  font-family: var(--font-SpaceMono);
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
}

.download--btn:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.hero--img img {
  width: 100%;
}

.part--1 {
  margin-top: 2rem;
  background: var(--color-original_blue);
}

.desc--about {
  padding-block: 3rem;
  padding-inline: 1rem;
}

.card--container {
  justify-content: space-between;
}

.card {
  padding: 10px;
  margin-block: 2rem;
  width: 150px;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}

.desc--about h1 {
  font-family: var(--font-OpenSans);
  color: white;
  font-size: clamp(2rem, 5vh, 5rem);
}

.icon-container {
  background: white;
  color: var(--color-original_blue);
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

.icon-container i {
  font-size: 30px;
}

.card p {
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
  font-family: var(--font-Poppins);
}

.card:hover {
  background: rgba(0, 0, 0, 0.2);
}

.part--2 {
  background: rgb(18, 57, 106);
}

.work--container {
  width: 80%;
  margin: auto;
}
.work--container .instrument--card_box {
  background: white;
  border-radius: 20px;
  margin-block: 3rem;
}
.work--container .instrument--card_box .hero--box {
  padding: 2rem;
}
.work--container .instrument--card_box button {
  width: -moz-max-content;
  width: max-content;
  padding: 10px 15px;
  background: rgb(18, 57, 106);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

.work--container h1 {
  font-family: sans-serif;
  padding-top: 5rem;
  font-size: clamp(3rem, 5vh, 5rem);
  font-weight: 600;
}

.mega--box {
  gap: 1rem;
}

.first--box {
  background: white;
  padding: 1rem;
  border-radius: 20px;
  justify-content: center;
}
.first--box .promotion {
  width: 30%;
}
.first--box h1 {
  font-family: sans-serif;
  font-size: clamp(3rem, 6vh, 7rem);
}
.first--box p {
  margin-top: 1rem;
  font-family: var(--font-Poppins);
}

.first--box img {
  width: 100%;
}

.Promotion--container {
  background: white;
  margin-top: 3rem;
}
.Promotion--container .promotion--box {
  padding-block: 3rem;
  margin-inline: auto;
  width: 90%;
  padding-inline: 1rem;
}
.Promotion--container .promotion--box h1 {
  font-family: sans-serif;
  font-size: clamp(3rem, 6vh, 7rem);
}
.Promotion--container .promotion--box .promotion--info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.Promotion--container .promotion--box .promotion--info p {
  font-family: var(--font-Poppins);
}
.Promotion--container .promotion--box .promotion--info .promotion {
  width: 40%;
}
.Promotion--container .promotion--box .promotion--info button {
  width: -moz-max-content;
  width: max-content;
  padding: 10px 15px;
  background: rgb(18, 57, 106);
  color: white;
  border-radius: 20px;
}
.Promotion--container .promotion--box .promotion--img {
  width: 50%;
}
.Promotion--container .promotion--box .promotion--img img {
  width: 100%;
}

.money--container .hero--box {
  background: url("./assets/wave.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
  padding-top: 3rem;
}
.money--container .hero--box .hero--info img {
  width: 30%;
}
.money--container .hero--box .hero--info button {
  width: -moz-max-content;
  width: max-content;
  padding: 10px 15px;
  background: rgb(18, 57, 106);
  color: white;
  border-radius: 20px;
  font-size: 18px;
}

.business--tools {
  margin-top: 1rem;
  padding-block: 5rem;
  background: white;
}
.business--tools .business--tools_desc {
  width: 80%;
  margin: auto;
}
.business--tools .business--tools_desc h1 {
  font-family: sans-serif;
  font-size: clamp(3rem, 6vh, 7rem);
}
.business--tools .business--tools_desc .business--container {
  margin-block: 3rem;
  justify-content: space-between;
}
.business--tools .business--tools_desc .business--cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.business--tools .business--tools_desc .business--cards img {
  width: 100%;
}
.business--tools .business--tools_desc .business--cards h1 {
  font-size: clamp(2rem, 5vh, 5rem);
}
.business--tools .business--tools_desc .business--cards p {
  font-family: var(--font-OpenSans);
  font-size: clamp(1rem, 3vh, 2rem);
  font-weight: 600;
}
.business--tools .business--tools_desc .business--cards span {
  font-family: var(--font-SpaceMono);
  font-weight: 600;
  text-decoration: underline;
  padding: 5px;
}

footer {
  padding-block: 5rem;
  padding-inline: 2rem;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  font-family: var(--font-Poppins);
}
footer .icon--line {
  font-size: 30px;
  gap: 10px;
}

.hero--carrer {
  min-height: 100vh;
  background: var(--color-original_blue);
  display: grid;
  place-items: center;
}
.hero--carrer .hero--desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero--carrer .hero--desc h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: clamp(4rem, 8vh, 7rem);
  color: white;
}
.hero--carrer .hero--desc p {
  font-family: var(--font-Poppins);
  font-size: clamp(2rem, 5vh, 5rem);
  color: white;
}
.hero--carrer .hero--desc button {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin-left: 20px;
}
.hero--carrer .hero--desc button:last-child {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.seeking--us {
  margin-block: 4rem;
  position: relative;
}
.seeking--us h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: clamp(3rem, 6vh, 5.5rem);
}
.seeking--us h3 {
  text-align: center;
  font-family: var(--font-OpenSans);
  font-size: clamp(1rem, 4vh, 4rem);
}
.seeking--us .seeking--container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seeking--us .seeking--container::before {
  content: "";
  background: url("./assets/pattern_1.svg");
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}
.seeking--us .seeking--container::after {
  content: "";
  background: url("./assets/pattern_2.svg");
  display: block;
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}
.seeking--us .seeking--container .card--seek-cont {
  margin-block: 3rem;
  justify-content: space-between;
}
.seeking--us .seeking--container .card--sek {
  width: 280px;
  padding: 2.5rem;
  border-radius: 20px;
  font-size: clamp(1rem, 3vh, 3.5rem);
}
.seeking--us .seeking--container .card--sek p {
  font-family: var(--font-OpenSans);
  padding-top: 1rem;
  color: black;
  font-weight: 600;
}
.seeking--us .seeking--container .card--bg_blue {
  background: var(--card-bg_BlueColor);
}
.seeking--us .seeking--container .card--bg_green {
  background: var(--card-bg_GreenColor);
}
.seeking--us .seeking--container .card--bg_pink {
  background: var(--card-bg_PinkColor);
}
.seeking--us .seeking--container button {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: 600;
}

.perks--box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perks--box h1 {
  padding-top: 3rem;
  font-family: sans-serif;
  text-align: center;
  font-size: clamp(3rem, 6vh, 5.5rem);
}
.perks--box .para {
  text-align: center;
  margin-block: 2rem;
  font-family: var(--font-Poppins);
  text-align: center;
  font-size: clamp(1rem, 3vh, 2.5rem);
}
.perks--box .perks--card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  gap: 1rem;
  max-height: 350px;
  overflow: hidden;
}
.perks--box .perks--card span {
  font-family: var(--font-BabasNeue);
  font-size: 30px;
}
.perks--box .perks--card h2 {
  font-family: var(--font-OpenSans);
  font-size: 30px;
}
.perks--box .perks--card p {
  font-family: var(--font-Poppins);
}
.perks--box .perks--card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.perks--box .card__bg-blue {
  background: var(--card-bg_BlueColor);
  border-radius: 5px;
  padding: 1rem;
}
.perks--box .card__bg-pink {
  background: var(--card-bg_PinkColor);
  border-radius: 5px;
  padding: 1rem;
}
.perks--box .card__bg-green {
  background: var(--card-bg_GreenColor);
  border-radius: 5px;
  padding: 1rem;
}
.perks--box button {
  margin: 1rem;
  font-size: 20px;
  padding: 10px 15px;
  background: var(--color-neon_purple);
  color: white;
  border-radius: 30px;
}

.founder--container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.founder--container::after {
  content: "";
  background: url("./assets/pattern_2.svg");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  scale: 1.5;
}
.founder--container .founder--meet {
  margin-block: 3rem;
  text-align: center;
  position: relative;
}
.founder--container .founder--meet p {
  padding-top: 1rem;
  font-family: sans-serif;
  text-align: center;
  font-size: clamp(1rem, 4vh, 3.5rem);
}
.founder--container .founder--meet h1 {
  padding-top: 1rem;
  font-family: sans-serif;
  text-align: center;
  font-size: clamp(3rem, 6vh, 5.5rem);
}
.founder--container .hero--box h1 {
  padding-top: 1rem;
  font-family: sans-serif;
  font-size: clamp(2.5rem, 4vh, 4rem);
}
.founder--container .hero--box li {
  font-family: var(--font-Poppins);
  list-style: none;
  font-size: clamp(1rem, 2vh, 2rem);
}

.join--us {
  min-height: 50vh;
  background: var(--color-original_blue);
  display: grid;
  place-items: center;
  margin-block: 2rem;
}
.join--us .join--box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join--us .join--box h1 {
  font-family: sans-serif;
  font-size: clamp(2rem, 6vh, 5rem);
  text-align: center;
  color: white;
}
.join--us .join--box button {
  font-size: 18px;
  margin-top: 1rem;
  padding: 10px 15px;
  border-radius: 30px;
}

.bg--blue {
  background: var(--color-original_blue);
  color: white;
}

.latest--publication {
  padding-top: 3rem;
}
.latest--publication .latest--public--container {
  width: 80%;
  margin: auto;
}
.latest--publication .latest--public--container h2 {
  font-family: var(--font-OpenSans);
  font-size: clamp(2rem, 5vh, 5rem);
  color: var(--color-neon_purple);
}
.latest--publication .latest--public--container .latest--card {
  margin-top: 2rem;
  max-width: 380px;
  max-height: 400px;
  border-radius: 10px;
  overflow: hidden;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: 2px solid gray;
  background: var(--color-light_gray);
  text-align: center;
}
.latest--publication .latest--public--container .latest--card .flex--butn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-Poppins);
}
.latest--publication .latest--public--container .latest--card .flex--butn button {
  padding: 10px 15px;
  border: 2px solid rgb(55, 21, 157);
  border-radius: 5px;
}
.latest--publication .latest--public--container .latest--card h1 {
  font-family: var(--font-OpenSans);
  font-size: clamp(1.5rem, 3vh, 3rem);
}
.latest--publication .latest--public--container .latest--card img {
  margin-top: 1rem;
  width: 100%;
  height: 70%;
}

.law--enforcement {
  background: rgb(199, 234, 243);
  display: flex;
  gap: 1rem;
  min-height: 100vh;
  margin-block: 3rem;
}
.law--enforcement .law--info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  padding: 3rem;
}
.law--enforcement .law--info h1 {
  font-family: sans-serif;
  font-size: clamp(3rem, 5vh, 5rem);
}
.law--enforcement .law--info p {
  font-family: var(--font-OpenSans);
  font-size: clamp(1rem, 3vh, 2rem);
}
.law--enforcement .law--info button {
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  color: var(--color-original_blue);
  background: transparent;
}
.law--enforcement .law--img {
  width: 50%;
  display: flex;
  align-items: center;
}
.law--enforcement .law--img img {
  width: 100%;
}

.blog--container {
  width: 90%;
  margin: auto;
}

.head--blog {
  display: flex;
  justify-content: space-between;
}
.head--blog h1 {
  font-family: sans-serif;
  font-size: clamp(2rem, 4vh, 4rem);
}
.head--blog p {
  font-family: var(--font-OpenSans);
  font-size: clamp(1rem, 3vh, 2rem);
}

.blog--posts {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-block: 1rem;
}
.blog--posts .blog--card {
  max-width: 350px;
  border: 2px solid gray;
  border-radius: 5px;
  background: var(--color-light_gray);
  padding: 0.4rem;
}
.blog--posts .blog--card h2 {
  font-family: var(--font-OpenSans);
  font-size: clamp(1rem, 3vh, 2rem);
  padding: 1rem;
}
.blog--posts .blog--card h2:last-child {
  color: gray;
}
.blog--posts .blog--card img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */